#weather{
    position: relative;
    border-radius: 50%;
    border: 2px solid $light-red;
    width: 100px;
    height: 100px;
}

#weather-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#weather-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
}