.leaflet-container {
  height: 50vh;
}
body {
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
  width: 80%;
}
.geoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right {
  display: none;
}
